$color-primary: #5561F9;
$color-secondary: #5561F9;
$color-black: rgba(0,0,0,0.98);
$color-light-gray: #F7F7F7;
$color-white: #ffffff;
$color-dark-gray: #bbbbbb;

$font-heading: '16x';
$font-main: '14px';
$font-sub: '12px';


.main {
    &-container {
        width: 100vw;
        height: 100vh;
        position: relative;
        overflow: hidden;
    }
    &-body{
        margin-top: 49px;
        width: 100%;
        height: calc(100% - 95px);
        background: $color-light-gray;
        z-index: 5;
        overflow-y: scroll;
    }

}


